name: Kleaf Build on Self-Hosted Runner
run-name: Build Kernel ${{inputs.KERNEL_NAME}}
on:
  workflow_call:
    inputs:
      KERNEL_NAME:
        required: true
        type: string
        description: Kernel Name
      NOSKIP:
        required: true
        type: boolean
        description: Don't Skip
      KERNEL_REPO:
        required: true
        type: string
        description: Kernel Repo
      KERNEL_BRANCH:
        required: true
        type: string
        description: Kernel Branch
      KLEAF_BRANCH:
        required: true
        type: string
        description: Kleaf Branch
      VERSION:
        required: true
        type: string
        description: Version
      BUILD_TYPE:
        required: true
        type: string
        default: DEBUG
        description: Build Type
      DEBUG:
        required: false
        default: false
        type: boolean
      UPLOAD_PACKAGE:
        required: true
        default: true
        type: boolean
jobs:
  build-kernel:
    name: Build Kernel ${{inputs.KERNEL_BRANCH}}
    runs-on: self-hosted
    if: ${{inputs.NOSKIP}}
    env:
      REPO_URL: "https://mirrors.tuna.tsinghua.edu.cn/git/git-repo"
      DEBIAN_FRONTEND: "noninteractive"
    steps:
      - name: Setup Repo
        run: |
          export REPO=$(mktemp /tmp/repo.XXXXXXXXX)
          curl -o ${REPO} https://mirrors.tuna.tsinghua.edu.cn/git/git-repo
          install -m 755 ${REPO} ~/bin/repo
      - name: Checkout Code
        uses: actions/checkout@main
        with:
          fetch-depth: 1
      - name: Setup Kleaf
        run: |
          mkdir $GITHUB_WORKSPACE/ack $GITHUB_WORKSPACE/ack_upper $GITHUB_WORKSPACE/ack_work
          sudo mount -t overlay -o "lowerdir=$HOME/ack/${{inputs.KLEAF_BRANCH}},upperdir=$(realpath $GITHUB_WORKSPACE/ack_upper),workdir=$(realpath $GITHUB_WORKSPACE/ack_work)" overlay $(realpath $GITHUB_WORKSPACE/ack)
          cd $GITHUB_WORKSPACE
      - name: Checkout Kernel Code
        uses: actions/checkout@main
        with:
          token: ${{secrets.CI_TOKEN}}
          repository: ${{inputs.KERNEL_REPO}}
          ref: ${{inputs.KERNEL_BRANCH}}
          path: ${{github.workspace}}/ack/pandora
          fetch-depth: 1
      - name: Start Build
        id: kbuild
        run: |
          set -euo pipefail

          cd $GITHUB_WORKSPACE/ack
          bash $GITHUB_WORKSPACE/build_kernel_kleaf.sh \
            "${{inputs.KERNEL_NAME}}" "${{inputs.VERSION}}" \
            "${{inputs.BUILD_TYPE}}" "${{github.run_id}}"

          ZIPNAME="$(cat $GITHUB_WORKSPACE/.output)"
          echo "archivename=$ZIPNAME" >>$GITHUB_OUTPUT
      - name: Upload to telegram
        if: ${{inputs.UPLOAD_PACKAGE == true}}
        env:
          CHAT_ID: ${{ secrets.CHAT_ID }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          python3 $GITHUB_WORKSPACE/tgbot.py $GITHUB_WORKSPACE/${{ steps.kbuild.outputs.archivename }}.zip
      - name: Cleanup
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/ack || return 0
          tools/bazel shutdown
          cd $GITHUB_WORKSPACE
          sudo umount $GITHUB_WORKSPACE/ack || true
          sudo rm -rf $GITHUB_WORKSPACE/ack $GITHUB_WORKSPACE/ack_work $GITHUB_WORKSPACE/ack_upper
