name: Build OKI Kernels
run-name: Build OKI Kernels
on:
  workflow_dispatch:
    inputs:
      VERSION:
        required: true
        type: string
        description: Version
      BUILD_TYPE:
        required: true
        type: choice
        description: Build Type
        options:
          - BETA
          - REL
      BUILD_A:
        required: true
        type: boolean
        default: true
        description: Build 5.10 & 5.15
      BUILD_B:
        required: true
        type: boolean
        default: true
        description: Build 6.1 & 6.6
      USE_SELFHOST:
        required: false
        type: boolean
        default: true
        description: Use self-host runner
      FullLTO:
        required: false
        default: false
        type: boolean
        description: Enable FullLTO
      DEBUG:
        required: false
        default: false
        type: boolean
        description: Enable actions debug
      UPDATE_CCACHE:
        required: false
        default: false
        type: boolean
        description: Update ccache cache
      UPLOAD_PACKAGE:
        required: false
        default: true
        type: boolean
        description: Upload package
jobs:
  init-build:
    name: Build Kernel
    strategy:
      fail-fast: false
      matrix: &build_oki_matrix
        include:
          - KERNEL_NAME: OanPora
            IF: ${{inputs.BUILD_A}}
            KERNEL_REPO: PandoraMTK/android_kernel_gki_5.10
            KERNEL_BRANCH: android12-5.10-o
            COMPILER_VER: r416183b
            CCACHE_TYPE: ccache
          - KERNEL_NAME: OuPi
            IF: ${{inputs.BUILD_A}}
            KERNEL_REPO: PandoraMTK/android_kernel_gki_5.15
            KERNEL_BRANCH: android13-5.15-o
            COMPILER_VER: r450784e
            CCACHE_TYPE: ccache
          - KERNEL_NAME: OngelPeats
            IF: ${{inputs.BUILD_B}}
            KERNEL_REPO: PandoraMTK/android_kernel_gki_6.1
            KERNEL_BRANCH: android14-6.1-o
            COMPILER_VER: r484474c
            CCACHE_TYPE: ccache
          - KERNEL_NAME: HummingBird
            IF: ${{inputs.BUILD_B}}
            KERNEL_REPO: PandoraMTK/android_kernel_gki_6.6
            KERNEL_BRANCH: android15-6.6-o
            COMPILER_VER: r522817
            CCACHE_TYPE: ccache
    uses: PandoraMTK/kernel_build_action/.github/workflows/build-gki-common.yml@main
    secrets: inherit
    if: ${{!inputs.USE_SELFHOST}}
    with:
      KERNEL_NAME: ${{matrix.KERNEL_NAME}}
      NOSKIP: ${{matrix.IF}}
      KERNEL_REPO: ${{matrix.KERNEL_REPO}}
      KERNEL_BRANCH: ${{matrix.KERNEL_BRANCH}}
      VERSION: ${{ inputs.VERSION }}
      BUILD_TYPE: ${{inputs.BUILD_TYPE}}
      FullLTO: ${{inputs.FullLTO}}
      DEBUG: ${{inputs.DEBUG}}
      UPDATE_CCACHE: ${{inputs.UPDATE_CCACHE}}
      COMPILER_VER: ${{matrix.COMPILER_VER}}
      CCACHE_TYPE: ${{matrix.CCACHE_TYPE}}
      UPLOAD_PACKAGE: ${{inputs.UPLOAD_PACKAGE}}
  init-build-sh:
    name: Build Kernel on Self Hosted Runner
    strategy:
      fail-fast: false
      matrix: *build_oki_matrix
    uses: PandoraMTK/kernel_build_action/.github/workflows/build-gki-common-sh.yml@main
    secrets: inherit
    if: ${{inputs.USE_SELFHOST}}
    with:
      KERNEL_NAME: ${{matrix.KERNEL_NAME}}
      NOSKIP: ${{matrix.IF}}
      KERNEL_REPO: ${{matrix.KERNEL_REPO}}
      KERNEL_BRANCH: ${{matrix.KERNEL_BRANCH}}
      VERSION: ${{ inputs.VERSION }}
      BUILD_TYPE: ${{inputs.BUILD_TYPE}}
      FullLTO: ${{inputs.FullLTO}}
      DEBUG: ${{inputs.DEBUG}}
      UPDATE_CCACHE: ${{inputs.UPDATE_CCACHE}}
      COMPILER_VER: ${{matrix.COMPILER_VER}}
      CCACHE_TYPE: ${{matrix.CCACHE_TYPE}}
      UPLOAD_PACKAGE: ${{inputs.UPLOAD_PACKAGE}}
