name: Kleaf Build
run-name: Build Kernel ${{inputs.KERNEL_NAME}}
on:
  workflow_call:
    inputs:
      KERNEL_NAME:
        required: true
        type: string
        description: Kernel Name
      NOSKIP:
        required: true
        type: boolean
        description: Don't Skip
      KERNEL_REPO:
        required: true
        type: string
        description: Kernel Repo
      KERNEL_BRANCH:
        required: true
        type: string
        description: Kernel Branch
      KLEAF_BRANCH:
        required: true
        type: string
        description: Kleaf Branch
      VERSION:
        required: true
        type: string
        description: Version
      BUILD_TYPE:
        required: true
        type: string
        default: DEBUG
        description: Build Type
      DEBUG:
        required: false
        default: false
        type: boolean
      UPLOAD_PACKAGE:
        required: true
        default: true
        type: boolean
jobs:
  build-kernel:
    name: Build Kernel ${{inputs.KERNEL_BRANCH}}
    runs-on: ubuntu-latest
    if: ${{inputs.NOSKIP}}
    env:
      DEBIAN_FRONTEND: "noninteractive"
    steps:
      - name: Install Toolchain
        run: |
          sudo -E apt-get update
          sudo -E apt-get install --no-install-recommends -y \
            lsb-release linux-modules-extra-"$(uname -r)" \
            git repo rsync zip gnupg curl unzip zstd pigz \
            python3 python3-pip python3-telethon python-is-python3 \
            python3-python-socks python3-async-timeout dos2unix
          sudo -E apt-get clean
      - name: Clean Build Space
        uses: hamjin/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          swap-size-mb: 32768
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true
      - name: Optimize Memory Management
        run: |
          sudo -E sysctl vm.swappiness=200
          sudo -E sysctl vm.min_free_kbytes=32768
          sudo -E sysctl vm.watermark_scale_factor=100
          sudo -E sysctl vm.watermark_boost_factor=15000
          sudo -E sysctl vm.overcommit_memory=1
          sudo -E sysctl vm.page-cluster=0
          sudo -E modprobe zram
          echo "0" | sudo -E tee /sys/class/block/zram0/mem_limit
          echo "zstd" | sudo -E tee /sys/class/block/zram0/comp_algorithm
          echo "$(awk 'NR==1{print $2*1000}' </proc/meminfo)" | sudo -E tee /sys/class/block/zram0/disksize
          sudo -E mkswap /dev/zram0
          sudo -E swapon -p 100 /dev/zram0
          echo "Y" | sudo -E tee /sys/kernel/mm/lru_gen/enabled
          echo "1000" | sudo -E tee /sys/kernel/mm/lru_gen/min_ttl_ms
          echo "1" | sudo -E tee /sys/kernel/mm/swap/vma_ra_enabled
      - name: Setup TimeZone
        run: |
          sudo -E rm -rf /etc/localtime
          sudo -E ln -s /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
      - name: Setup Repo
        run: |
          export REPO=$(mktemp /tmp/repo.XXXXXXXXX)
          curl -o ${REPO} https://storage.googleapis.com/git-repo-downloads/repo
          gpg --recv-keys 8BB9AD793E8E6153AF0F9A4416530D5E920F5C65
          curl -s https://storage.googleapis.com/git-repo-downloads/repo.asc | gpg --verify - ${REPO} && sudo -E install -m 755 ${REPO} /usr/bin/repo
      - name: Checkout Code
        uses: actions/checkout@main
        with:
          fetch-depth: 1
      - name: Setup Kleaf
        run: |
          mkdir $GITHUB_WORKSPACE/ack
          cd $GITHUB_WORKSPACE/ack
          repo init --depth=1 -u https://android.googlesource.com/kernel/manifest -b "${{inputs.KLEAF_BRANCH}}"
          repo sync --jobs=4 --optimized-fetch --current-branch --no-tags
          cd $GITHUB_WORKSPACE
      - name: Checkout Kernel Code
        uses: actions/checkout@main
        with:
          token: ${{ secrets.CI_TOKEN }}
          repository: ${{inputs.KERNEL_REPO}}
          ref: ${{inputs.KERNEL_BRANCH}}
          path: ${{github.workspace}}/ack/pandora
          fetch-depth: 1
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        if: ${{inputs.DEBUG}}
        with:
          ## limits ssh access and adds the ssh public key for the user which triggered the workflow
          limit-access-to-actor: true
      - name: Start Build
        id: kbuild
        run: |
          set -euo pipefail

          cd $GITHUB_WORKSPACE/ack
          bash $GITHUB_WORKSPACE/build_kernel_kleaf.sh \
            "${{inputs.KERNEL_NAME}}" "${{inputs.VERSION}}" \
            "${{inputs.BUILD_TYPE}}" "${{github.run_id}}"

          ZIPNAME="$(cat $GITHUB_WORKSPACE/.output)"
          echo "archivename=$ZIPNAME" >>$GITHUB_OUTPUT
      - name: Upload to telegram
        if: ${{inputs.UPLOAD_PACKAGE == true}}
        env:
          CHAT_ID: ${{ secrets.CHAT_ID }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          python3 $GITHUB_WORKSPACE/tgbot.py $GITHUB_WORKSPACE/${{ steps.kbuild.outputs.archivename }}.zip
